
/*
color1: #00A8C6;
color2: #40C0CB;
color3: #F9F2E7;
color4: #AEE239;
color5: #8FBE00;
color6: rgb(107, 155, 113);;
*/

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
/*@import url(http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css);*/
@import url(OpenSans.css);

html,body{
	height:100%;
}

body{

margin:0;
padding:0;
font-family:"Open Sans",Arial;
font-size:14px;
color:white;
padding:32px 0 18px 0;
}

*{
box-sizing:border-box;
padding:0;
margin:0;
}

.no_select{
user-select:none;
-webkit-user-select:none;
}

[onclick],
.action,
a[href]{
cursor:pointer;
}

.fa{
background:none;
color:inherit;
border:none;
}

.fa:before{
	font-family:FontAwesome !important;
}

header{
	width:100%;
	height:32px;
	background-color:#AEE239;
	background-color:#215A6D;
	padding:0;
	line-height:28px;
	position:fixed;
	top:0;
	left:0;
	font-size:1.1em;
	background-image:-webkit-linear-gradient(top,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
	z-index:4;
}

header .toggle{
	height: 100%;
	line-height: 32px;
	text-align: center;
	padding:0 10px;
}

header .toggle:hover{
	background-color: rgba(229, 166, 46, 0.9);
	box-shadow: 0 0 4px 0 rgb(0, 0, 0);
}

header .toggle:focus,
header .toggle:active{
	outline:none;
}

#main_menu_toggle{
	margin-right:5px;
}

#share_menu_toggle{
	position: absolute;
	right: 0px;
	top: 0px;
}

#share_menu_toggle:hover{
	border-left: 1px solid rgb(255, 255, 255);
}

#filename{
	border:none;
	position:absolute;
	width:200px;
	text-align:center;
	left:50%;
	margin:0 0 0 -100px;
	background-color:transparent;
	height:90%;
	top:5%;
	color:inherit;
}

#main{
	width:100%;
	background-color:whitesmoke;
	height:100%;
	white-space:nowrap;
	overflow:hidden;
}

#main>*{
	margin-left:-4px;
}


#main .menu{
	width:200px;
	height:100%;
	background-color:rgb(146, 199, 163);
	display:inline-block;
	font-size:0.9rem;
	font-family:inherit;
	position: relative;
	z-index: 4;
	text-align:left;
	overflow-x: hidden;
	overflow-y: auto;
}

#main .menu *{
	text-decoration:none;
	color:inherit;
	display:block;
	font-weight:inherit;
	font-family:inherit;
	width:100%;
	background-color:transparent;
	border:none;
	text-align:inherit;

	position:relative;
	right:0;
	transition:padding-left 0.1s linear;
	padding:10px 5px;
}

#main .menu>*{
	border-bottom:1px solid white;
}

#main .menu *:focus{
	outline:none;
}

#main .menu *:hover{
	background-color:rgba(255,255,255,0.8);
	color:black;
	border-left: 5px solid white;
	padding-left: 10px;
}

#main .menu .fa:before {
	min-width: 20px;
	padding: 5px;
	display: inline-block;
	text-align:center;
}

#main_menu{
	transition:margin-left 0.2s ease;
	-webkit-transition:margin-left 0.2s ease;
	margin-left:-200px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#main_menu.active{
	margin-left:0px;
}

#main_menu.share_active{
	margin-left:-400px;
}

#main #workspace{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}

#main #workspace .editor, #main #workspace iframe.preview{
	width:50%;
	height:100%;
	display:inline-block;
	border:none;
	float:left;
}

#main #workspace .editor{
	box-shadow: 0 0 10px;
	position:relative;
	min-width:15px;
	max-width:100%;
	padding-right:15px;
}

#main #workspace .editor:after {
    content: "";
    position: absolute;
    top: 0px;
    left:100%;
    width:100vw;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:-1;
}

#main #workspace .editor[data-resizing="true"]:after{
	z-index:1;
}

#main #workspace .editor[data-resizing="true"] .code_box{
	-webkit-user-select:none;
	user-select:none;
}

#main #workspace .editor[data-resizing="false"]{
	transition:width 0.3s ease;
	-webkit-transition:width 0.3s ease;
}

#main #workspace .editor .resizer{
	width:15px;
	position:absolute;
	right:0;
	top:0;
	height:100%;
	background-color:#52DB62;
	background-color:#92C7A3;
	background-image:-webkit-linear-gradient(left,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
	cursor:col-resize;
	font-size:13px;
	padding:10px 0;
	text-align:center;
	z-index:2;
}

#main #workspace .editor .resizer .fa{
	position: absolute;
	left: 0px;
	text-align: center;
	width: 100%;
}

#main #workspace .editor .resizer .fa.fa-step-backward{
	top:2px;
}


#main #workspace .editor .resizer .fa.fa-ellipsis-v{
	top:50%;
}

#main #workspace .editor .resizer .fa.fa-step-forward{
	bottom:3px;
}


#main #workspace .editor .code_box{
	width:100%;
	height:33.3%;
	overflow:hidden;

	display: -moz-box;
	display: -webkit-box;

	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;

	-webkit-box-flex:1;
	-moz-box-flex:1;

	min-height: 25px;
	transition: height 0.3s ease;
	-webkit-transition: height 0.3s ease;
	margin: 0px;
	position:relative;

	display:block;

	padding-top:25px;
	z-index:2;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

#main #workspace .editor .code_box[data-showing=false] {
	height:0;
}

#main #workspace .editor .code_box label {
	font-size: 1em;
	width:100%;
	background-color:#52DB62;
	background-color:#3CA2A2;
	background-image:-webkit-linear-gradient(top,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
	background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
	color:white;
	display:inline-block;
	padding:0 10px;
	white-space: nowrap;
	max-height: 25px;
	height:25px;
	line-height:25px;
	overflow: hidden;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	position:absolute;
	top:0;
	left:0;
}

#main #workspace .editor .code_box label input[type=checkbox]{
	position:absolute;
	right:5px;
	top:4px;
}

#main #workspace .editor .code_area{
	height:100%;
	background: -webkit-repeating-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 17px, #87CEEB 18px);
	background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 17px, #87CEEB 18px);
	background-color:#FCFCFC;
	padding:0 10px;

	background-size:100% 18px;
	overflow:auto;
	display:block;
	width:100%;
	resize:none;
	font-size:0.78em;
	line-height:18px;
	border:none;
}


#main #workspace .editor .code_area:focus{
	outline:none;
}


#workspace iframe.preview{
background-color:#EFEFEF;
min-width:0px;
max-width:calc(100% - 15px);
}


.status_bar{
height:18px;
position:fixed;
left:0;
bottom:0;
background-color:#8FBE00;
background-color:#2D2D29;
width:100%;
font-size:0.8em;
color:white;
text-align:center;
text-decoration:none;
padding:2px 0;
}

.status_bar *{
color:inherit;
text-decoration:inherit;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: -1;
}

#mask.active{
	z-index:3;
}

#mask table{
	width:100%;
	height:100%;
	text-align: center;
}


#easter_egg{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border:none;
	overflow:hidden;
	z-index:1;
}


.menu,
.fa-times{
	background-color:rgba(229, 166, 46, 0.9) !important;
}
