:host {
  width: var(--width-resize-bar);
  background: #92C7A3 linear-gradient(to right, rgba(255, 255, 255, .3), rgba(0, 0, 0, 0));
  cursor: ew-resize;
  font-size: 13px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
