:host {
  --color: white;
  background-image: linear-gradient(76.3deg, rgb(44, 62, 78) 12.6%, rgb(69, 103, 131) 82.8%);
  height: var(--height-toolbar, 32px);
  min-height: var(--height-toolbar, 32px);
  font-size: 1.25em;
  color: var(--color);
  display: flex;
  align-items: center;
  position: relative;
}

svg {
  fill: var(--color);
  margin: 0 0.4em;
  height: 100%;
}

input[type="text"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color:  inherit;
  text-align: center;
  height: 100%;
  margin: 0;
  width: 20vw;

  &:hover {
    background-color: rgba(255,255,255,0.1);
  }

  &:focus {
    outline: none;
  }
}
