//http://www.news24.com/Modals/SuperSized/Gallery.aspx?articleId=d9568f77-580a-4fd4-904e-e191caa41230&slide=2
@import "../../../nexus/core/nexus/stylesheets/nexus_base.scss";
$cod_gray:#141414;
$foreground_color_dark:$cod_gray;
$stage_nav_size:30px;
$tray_nav_size:20px;
$media_bar_height:30px;
$tray_height:80px;
$gap:10px;
$stage_gap:$gap;
$thumbnail_active_color:#00afea;

.twentyfour.gallery{
  background-color:$foreground_color_dark;
  min-height:100px;
  min-width:100px;
  display:block;
  margin:$gap auto;
  color:white;
  font-family:Tahoma, Arial;
  position:relative;
  overflow:hidden;
  padding:0 0 $media_bar_height 0;
  width:100%;
  height:300px;
  @include user-select(none);

  &:not(.ready){
    background-image:url(data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjQ0IiBoZWlnaHQ9IjQ0IiB2aWV3Qm94PSIwIDAgNDQgNDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjZmZmIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICA8Y2lyY2xlIGN4PSIyMiIgY3k9IjIyIiByPSIxIj4KICAgICAgICAgICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIKICAgICAgICAgICAgICAgIGJlZ2luPSIwcyIgZHVyPSIxLjhzIgogICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAyMCIKICAgICAgICAgICAgICAgIGNhbGNNb2RlPSJzcGxpbmUiCiAgICAgICAgICAgICAgICBrZXlUaW1lcz0iMDsgMSIKICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMTY1LCAwLjg0LCAwLjQ0LCAxIgogICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAgICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9InN0cm9rZS1vcGFjaXR5IgogICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjEuOHMiCiAgICAgICAgICAgICAgICB2YWx1ZXM9IjE7IDAiCiAgICAgICAgICAgICAgICBjYWxjTW9kZT0ic3BsaW5lIgogICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiCiAgICAgICAgICAgICAgICBrZXlTcGxpbmVzPSIwLjMsIDAuNjEsIDAuMzU1LCAxIgogICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAgPC9jaXJjbGU+CiAgICAgICAgPGNpcmNsZSBjeD0iMjIiIGN5PSIyMiIgcj0iMSI+CiAgICAgICAgICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9InIiCiAgICAgICAgICAgICAgICBiZWdpbj0iLTAuOXMiIGR1cj0iMS44cyIKICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsgMjAiCiAgICAgICAgICAgICAgICBjYWxjTW9kZT0ic3BsaW5lIgogICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiCiAgICAgICAgICAgICAgICBrZXlTcGxpbmVzPSIwLjE2NSwgMC44NCwgMC40NCwgMSIKICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJzdHJva2Utb3BhY2l0eSIKICAgICAgICAgICAgICAgIGJlZ2luPSItMC45cyIgZHVyPSIxLjhzIgogICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAwIgogICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIKICAgICAgICAgICAgICAgIGtleVRpbWVzPSIwOyAxIgogICAgICAgICAgICAgICAga2V5U3BsaW5lcz0iMC4zLCAwLjYxLCAwLjM1NSwgMSIKICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgICAgIDwvY2lyY2xlPgogICAgPC9nPgo8L3N2Zz4=);
    background-repeat:no-repeat;
    background-size:50% 50%;
    background-position:50% 50%;
    *{
      display:none;
    }
  }

  .slider{
    display:block;
    height:100%;
    width:100%;
    white-space:nowrap;
    @include transition(margin-left 0.3s ease);

    .slide{
      display:inline-block;
      vertical-align:top;
      text-align:center;
      height:100%;
    }
  }

  .action_area{
    position:absolute;
    top:0;
    height:100%;
    text-align:center;
    cursor:pointer;
    z-index:10;

    &.left{
      left:0;
    }

    &.right{
      right:0;
    }

    .icon{
      position:absolute;
      top:50%;
      width:100%;
      text-align:center;
    }
  }

  .stage{
    position:relative;
    height:100%;
    padding:0;
    z-index:1;

    .slide{
      padding:$gap;
      width:100%;
      position:relative;

      .caption{
        display:block;
        background-color:white;
        background-color:rgba(255,255,255,0.9);
        color:#777;
        position:absolute;
        text-align:left;
        bottom:0;
        left:0;
        width:100%;
        padding:5px 10px;
        overflow:hidden;
        font-size:12px;
        border:none;
        white-space:normal;
      }
    }

    .action_area{
      width:100px;
      max-width: 15%;
      @include transition(background-color 0.1s ease-in-out);

      &:hover{
        background-color: rgba(0,0,0,0.5);

        .icon{
          &.left{
            left:0;
          }

          &.right{
            right:0;
          }
        }
      }

      .icon{
        font-size:$stage_nav_size;
        margin-top:-($stage_nav_size/2);

        &.left{
          left:-100%;
        }

        &.right{
          right:-100%;
        }
      }
    }

    .fullscreen.toggler {
        position: absolute;
        top: -30px;
        right: -30px;
        font-size: 20px;
        z-index:11;
        cursor:pointer;
        background-color:black;
        background-color:rgba(0,0,0,0.8);
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        @include transition(all 0.1s ease-in-out);
    }

  }

  .media_bar{
    width:100%;
    height:$media_bar_height;;
    line-height:$media_bar_height;
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#45484d", endColorstr="#000000",GradientType=0 ); /* IE6-9 */

    .toggler{
      padding:5px 20px;
      position:absolute;
      height:100%;
      top:0;
      border-color:black;
      border-width:1px;
      font-size:16px;

      &:hover{
        background-color:$foreground_color_dark;
      }

      &.play_pause_toggle{
        left:0;
        border-right-style:solid;
      }

      &.tray_toggle{
        right:0;
        border-left-style:solid;
      }
    }

    .icon.pause{
      display:none;
    }

    .status{
      display:block;
      height:100%;
      width:100%;
      text-align:center;
    }
  }

  .tray{
    position:absolute;
    z-index:1;
    bottom:-($tray_height - $media_bar_height);
    left:0;
    width:100%;
    background-color:black;
    height:70px;
    padding:10px 20px;
    @include transition(bottom 0.3s ease);

    .slider{
      .slide.thumbnail{
        width:80px;
        margin-left:5px;
        cursor:pointer;
        @extend .blur;

        &:first-child{
          margin-left:0;
        }

        &.active{
          border:2px solid $thumbnail_active_color;
        }
      }
    }

    .action_area{
      width:20px;
      background-color:black;
      .icon{
        font-size:$tray_nav_size;
        margin-top:-($tray_nav_size/2);
      }
    }
  }

  &:hover{
    .fullscreen.toggler{
      top:10px;
      right:10px;
    }
  }

  &.playing{
    .media_bar{
       .icon.play{
         display:none;
       }
       .icon.pause{
         display:block;
       }
    }
  }

  &.show_tray{
    .tray{
      bottom:$media_bar_height;
    }
  }

  &.fullscreen{
    height:100%;
    width:100%;
    max-width:100%;
    position:fixed;
    top:0;
    left:0;
    margin:0;

    .stage{
      .slide{
        .caption{
          font-size:1.5em;
        }
      }
    }
  }


}


[data-embed24="Images"]{
  min-height:100px;
  display:block;
  background-color:$foreground_color_dark;
  font-size:13px;
  color:white;
  text-align: center;

  .slide{
    display:block;
    padding:0 5px;
    img{
      margin:5px auto;
      display:block;
    }

    .caption{
      text-align:left;
      border-top:1px solid #ef3f3f;
      padding:5px 10px;
    }
  }
}

[data-embed24="Images"][data-pos="middle"]{
  clear:both;
  margin:10px auto;
  float:none;
}

[data-embed24="Images"][data-pos="left"]{
  float:left;
  margin:0 10px 10px 0;
  max-width:50%;
}
