//http://www.news24.com/Modals/SuperSized/Gallery.aspx?articleId=d9568f77-580a-4fd4-904e-e191caa41230&slide=2
@import "../../../nexus/core/nexus/stylesheets/nexus_base.scss";
$cod_gray:#141414;
$foreground_color_dark:$cod_gray;
$stage_nav_size:30px;
$tray_nav_size:20px;
$media_bar_height:30px;
$tray_height:80px;
$gap:10px;
$stage_gap:$gap;
$thumbnail_active_color:#00afea;

.twentyfour.gallery{
  background-color:$foreground_color_dark;
  min-height:100px;
  min-width:100px;
  display:block;
  margin:$gap auto;
  color:white;
  font-family:Tahoma, Arial;
  position:relative;
  overflow:hidden;
  padding:0 0 $media_bar_height 0;
  width:50%;
  height:300px;
  @include user-select(none);
}


[data-embed24="Images"]{
  min-height:100px;
  display:block;
  font-size:13px;
  color:white;
  text-align: center;

  .slide{
    display:block;
    background-color:$foreground_color_dark;
    margin-top:10px;

    &:first-child{
      margin-top:0;
    }

    img{
      margin: 5px auto;
      padding: 0 5px;
    }

    .caption{
      text-align:left;
      border-top:1px solid #ef3f3f;
      padding:5px 10px;
      background-color: white;
      background-color: rgba(255,255,255,0.9);
      color:black;
    }
  }
}

[data-embed24="Images"][data-pos="middle"]{
  width:100%;
  clear:both;
  margin:10px auto;
  float:none;
}

[data-embed24="Images"][data-pos="left"]{
  float:left;
  margin:0 10px 10px 0;
}
