:host {
  position: relative;
  background: var(--color-canvas);
  --toolbar-height-preview: 25px;
}

iframe, .mask {
  position: absolute;
  top: var(--toolbar-height-preview);
  left: 0;
  width: 100%;
  height: calc(100% - var(--toolbar-height-preview));
}

iframe {
  border: none;
}

.mask {
  z-index: 1;
  pointer-events: none;
}

.toolbar {
  width: 100%;
  height: var(--toolbar-height-preview);
  background: red;
}
