:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100vw;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - var(--height-toolbar) - var(--height-footer));
}

#workbench {
  width: var(--width-from-resizer, 33.333%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #bdbdbd;
  z-index: 2;
}

app-preview {
  flex-grow: 1;
}

main[dir=rtl] {
  #workbench {
    width: auto;
    flex-grow: 1;
  }

  app-preview {
    width: var(--width-from-resizer, 33.333%);
    flex-grow: unset;
  }
}

app-editor-box {
  transition: height 0.3s ease;
  height: 33.333333333%;
}

.confused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  text-align: center;

  i {
    display: block;
  }
}

footer {
  height: var(--height-footer, 24px);
  min-height: var(--height-footer, 24px);
  background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.4rem;
  z-index: 1;
}
