:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100vw;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - var(--height-toolbar) - var(--height-footer));
}

#workbench {
  width: var(--width-editor);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  resize: horizontal;
  padding-right: var(--width-resize-bar);
  background-color: #bdbdbd;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

app-resize-bar {
  position: absolute;
  right: 0;
  height: 100%;
}

app-preview {
  width: calc(100% - var(--width-editor));
}

app-editor-box {
  transition: height 0.3s ease;
  height: 33.333333333%;
}

.confused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  text-align: center;

  i {
    display: block;
  }
}

footer {
  height: var(--height-footer, 18px);
  min-height: var(--height-footer, 18px);
  background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
}
