/*
color1: #00A8C6
color2: #40C0CB
color3: #F9F2E7
color4: #AEE239
color5: #8FBE00
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css);

body{
margin:0;
padding:0;
font-family:"Open Sans";
font-size:14px;
color:white;
}

*{
box-sizing:border-box;
padding:0;
margin:0;
}

.no_select{
user-select:none;
-webkit-user-select:none;
}

[onclick],
.action{
cursor:pointer;
}

header{
width:100%;
background-color:#AEE239;
background-color:#215A6D;
padding:6px 10px;
position:relative;
height:42px;
font-size:26px;
line-height:26px;
}

header .menu_toggle{
margin-right:5px;
}

header input{
border:none;
position:absolute;
width:200px;
text-align:center;
left:50%;
margin:0 0 0 -100px;
background-color:transparent;
height:90%;
top:5%;
color:inherit;
}

.main{
width:100%;
background-color:whitesmoke;
height:calc(100% - 42px - 22px);
font-size:0;
white-space:nowrap;
overflow:hidden;
}


.main .workspace{
width:100%;
height:100%;
display:inline-block;
}

.main .menu{
width:200px;
height:100%;
background-color:#00A8C6;
display:inline-block;
font-size:20px;
float:left;
margin-left:-200px;
box-shadow: -7px -7px 30px -7px rgba(0, 0, 0, 0.5) inset;
position: relative;
z-index: 2;
transition:margin-left 0.2s ease;
text-align:left;
font-weight:bold;
}


.menu input[type=button],
.menu input[type=reset]{
	font-weight:inherit;
}

.menu input[type=button],
.menu input[type=reset],
.menu details{
width:100%;
background-color:transparent;
border:none;
border-bottom:1px solid whitesmoke;
color:inherit;
text-align:inherit;
font-size:inherit;
padding:10px 10px 10px 0;
cursor:pointer;
}

.main .menu.active{
margin-left:0px;
}

.main .workspace{
position:relative;
}

.workspace .editor, .workspace iframe.preview{
width:50%;
height:100%;
display:inline-block;
border:none;
float:left;
}

.workspace .editor{
box-shadow: 0 0 10px;
position:relative;
min-width:15px;
}

.editor:after {
    content: "";
    position: absolute;
    top: 0px;
    left:100%;
    width:100vw;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:-1;
}

.editor[data-resizing="true"]:after{
	z-index:1;
}

.editor[data-resizing="true"] .code_box{
	-webkit-user-select:none;
	user-select:none;
}

.editor[data-resizing="false"]{
transition:width 0.3s ease;
}

.resizer{
width:15px;
position:absolute;
right:0;
top:0;
height:100%;
background-color:#52DB62;
background-color:#92C7A3;
background-image:-webkit-linear-gradient(left,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
cursor:col-resize;
font-size:13px;
padding:10px 0;
text-align:center;
}

.resizer .fa-ellipsis-v {
  display: block;
  margin: 44vh 0;
}


.code_box{
width:calc(100% - 15px);
height:33.3%;
overflow:hidden;
  
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  
  min-height: 22px;
  transition: all 0.3s ease;
  margin: 0px;
}

.code_box[data-showing=false] {
height: 22px;
}

.code_box label {
font-size: 16px;
width:100%;
background-color:#52DB62;
background-color:#3CA2A2;
background-image:-webkit-linear-gradient(right,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
color:white;
display:inline-block;
padding:0 10px;
white-space: nowrap;
max-height: 22px;
overflow: hidden;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.code_box label input[type=checkbox]{
float:right;
position:relative;
top:4px;
}

.code_area{
height:calc(100% - 22px);
background:repeating-linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 17px, #87CEEB 18px);
background-color:#FCFCFC;
background-size:100% 18px;
overflow:auto;
display:block;
width:100%;
resize:none;
padding:0 10px;
font-size:11px;
line-height:18px;
}

.workspace iframe.preview{
background-color:#EFEFEF;
}


.main .menu.active + .workspace:after{
content:"";
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
background-color:rgba(0,0,0,0.8);

}

.status_bar{
height:22px;
position:fixed;
left:0;
bottom:0;
background-color:#8FBE00;
background-color:#2D2D29;
width:100%;
font-size:0.8em;
color:white;
text-align:center;
text-decoration:none;
padding:2px 0;
}

.status_bar *{
color:inherit;
text-decoration:inherit;
}