:root {
  --width-resizer: 33.333%;
  --width-resize-bar: 15px;
  --height-toolbar: 32px;
  --height-footer: 24px;
  --color-canvas: white;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  width: 100vw;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

*  {
  box-sizing: border-box;
  user-select: none;
}

svg {
  max-width: 100%;
}

ngx-monaco-editor {
  .monaco-editor, .editor-container {
    min-height: 100%;
  }
}
