@mixin dark_styles(){
  --color-canvas: rgb(65, 56, 75);
  --color-text: white;
  --color-muted: #1d1e22;
  --color-inverted: white;
  --color-1:#212F45;
  --gradient-1: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  --color-palette-2: #27374D;
  --gradient-2: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(0, 0, 0, 0));
  --color-palette-3: #387478;
  --gradient-3: linear-gradient(to right, rgba(255, 255, 255, .3), rgba(0, 0, 0, 0));
  --color-accent: #F99417;
}

:root {
  --width-resize-bar: 15px;
  --height-toolbar: 32px;
  --height-footer: 22px;
  --color-canvas: white;
  --color-text: white;
  --color-muted: #eeeeee;
  --color-1: rgb(69, 103, 131);
  --gradient-1: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  --color-palette-2: #3CA2A2;
  --gradient-2: linear-gradient(to bottom, rgba(255, 255, 255, .3), rgba(0, 0, 0, 0));
  --color-palette-3: #92C7A3;
  --gradient-3: linear-gradient(to right, rgba(255, 255, 255, .3), rgba(0, 0, 0, 0));
  --color-accent: #e5a62e;
}


:root:has(body[data-color-scheme="dark"]){
  @include dark_styles();
}

@media (prefers-color-scheme: dark) {
  :root:not(:has(body[data-color-scheme="light"])){
    @include dark_styles();
  }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  width: 100vw;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

*  {
  box-sizing: border-box;
  user-select: none;
}

svg {
  max-width: 100%;
}

ngx-monaco-editor {
  .monaco-editor, .editor-container {
    min-height: 100%;
  }
}

:root.resizing #resize-helper-overlay {
  pointer-events: all;
}
